:root {
    --bgcolor: #000;
    --heading-bgcolor: #333;
    --primary-color: #fff;
    --accent-color: #448aff;
    --nav-height: 4rem;
    --content-max-width: 70rem;
    --content-margin: 2rem;
}

body {
    margin: 0;
    background-image: linear-gradient(45deg, color(var(--bgcolor) lightness(50%)), var(--bgcolor));
    color: var(--primary-color);
    font-family: Verdana, Arial, sans-serif;
}

a {
    color: var(--accent-color);
}

div.mission {
    margin: 0 var(--content-margin);
}

nav {
    background-color: var(--heading-bgcolor);
    display: flex;
    height: var(--nav-height);
    justify-content: space-between;
}

nav a {
    color: var(--primary-color);
    font-size: 1.5rem;
    display: block;
    height: var(--nav-height);
    line-height: var(--nav-height);
    padding: 0 1rem;
    text-decoration: none;

    &:hover {
        transition: 1s;
        background-color: var(--accent-color);
    }
}

div.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: var(--nav-height);
}

div.block.home {
    text-align: right;
    & .site-name {
        font-size: 2rem;
        line-height: 1em;
    }
    & .slogan {
        font-size: 1.2rem;
        line-height: 1em;
    }
}

div.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 var(--content-margin);

    & h2 {
        flex-basis: 100%;
    }

    & .block {
        color: var(--primary-color);
        margin: 0 1rem 1rem 0;
        width: 20rem;

        border-radius: 0.5rem;
        background-color: black;
        box-shadow: 1px 1px 5px color(white alpha(20%));

        & h3 {
            margin: 0;
            padding: 0.5rem 0 0.5rem 0.5rem;
            background-color: var(--heading-bgcolor);
            color: var(--primary-color);
            border-radius: 0.5rem 0.5rem 0 0;
        }

        & p, & h4 {
            margin: 1rem;
        }

        & p {
            min-height: 10em;
        }

        & a {
            color: var(--accent-color);
            text-decoration: none;
        }

        a.using {
            color: var(--primary-color);
            margin: 1em;
            font-weight: bold;

            &::after {
                content: '';
                display: inline-block;
                position: relative;
                top: 0.1em;
                width: 0;
                height: 0;
                margin: 0 1em;
                border-top: 0.4em solid transparent;
                border-right: 0;
                border-bottom: 0.4em solid transparent;
                border-left: 0.5em solid var(--primary-color);
                transition: 0.5s ease-in-out;
            }

            &:focus {
                & + ul {
                    max-height: 9em;
                }

                &::after {
                    transform: rotate(90deg);
                }
            }
        }

        div.technologies {
            & ul {
                max-height: 0;
                overflow: hidden;
                transition: 0.5s ease-in-out;
            }
            &:hover {
                & a.using::after {
                    transform: rotate(90deg);
                }

                & ul {
                    max-height: 9em;
                }
            }
        }
    }
}

@custom-media --small-viewport (max-width: 40rem);
@custom-media --large-viewport (min-width: 70rem);

@media (--large-viewport) {
    div.mission, div.services {
        max-width: var(--content-max-width);
        margin: 0 auto;
    }
}

@media (--small-viewport) {
    nav a {
        font-size: 1.2rem;
    }

    div.mission p {
        font-size: 1.2rem;
    }

    div.block.home {
        & .site-name {
            font-size: 1.2rem;
        }

        & .slogan {
            font-size: 1rem;
        }
    }

    div.services .block p {
        font-size: 1.2rem;
    }
}
